*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: "Malgun Gothic", sans-serif;
  background: #F5F5F5;
  max-width: 710px;
  margin: 0 auto;
  /* ★ fixed 헤더 + 하단 탭바 공간 확보 */
/* header */
}
img{
    width: 100%;
    height: 100%;
}
header{
    position: relative;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: fixed;
    z-index: 100;
}
.header-btn{
    background: none;
    border: 0 solid white;
    padding: 14px; 
}
.header-logo{
    font-size: 13px;
    font-weight: 600;
    border: 0 solid white;
    background: none;
    color: black;
    cursor: pointer;
    position: absolute;
    padding: 18px;
    left: 50%;
    transform: translate(-50%)
}

/* /main/ */
/* 첫번째 섹션 사진 회원가입 로그인 */
#first-section{
    background-color: rgb(214, 214, 214);
}
.page{
    position: relative;
    top: 50px;
    background: rgb(214, 214, 214);
}
.pagein{
    background: rgb(109, 109, 109, 0.7);
    width: 40px; height: 25px;
    border: none;
    border-radius: 45%;
    top: 70px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    position: absolute;
}

.login{
    background-color: rgb(214, 214, 214);
    padding: 0px;
    height: 70px;
    border: 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    margin-top: 60px;
    
}
.login-twosome{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.twosome-app{
    background: rgb(214, 214, 214);
    padding-left: 20px;
    color: red;
}
.login-app{
    background: rgb(214, 214, 214);
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
/* 두번쨰 섹션 투썸을 선물하세요 */
.present{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 10px;
    background: white;
}
.present-yo{
    font-size: 20px;
    font-weight: 900;
}
.present-more{
    border: 0;
    cursor: pointer;
    background: white;
    font-weight: 600;
}

.money{
    display: flex;
    justify-content: space-between;
    box-sizing: 10px;
    padding: 10px;
}
.mo{
    border: 0;
    background: black;
    color: #F5F5F5;
    border-radius: 20%;
    padding: 5px;

}